@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #999999;
  transition: 1s;
}

a:hover {
  color: #fb4b74;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

#icon1, #icon2{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fb4b74;
  transition: 1s;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: #63636333;
}

.headerText{
  margin: 0;
}

#icon2{
  margin-right: 0;
  margin-left: 15px;
}

#icon1:hover, #icon2:hover{
  color: #fff;
  background-color: #fb4b74;
}

.divLine {
  border-left: 1px solid #999999;
}

.separator {
  margin: 30px auto;
  border-top: 1px solid #fb4b74;
  border-bottom: 1px solid #fb4b74;
  width: 20%;
  height: 4px;
}

.centerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-link {
  color: #4d4d4d;
  font-weight: 500;
  transition: 1s;
}

.nav-link:hover,
.active-link {
  color: #fb4b74;
  background-color: #63636333;
  border-radius: 10px 0 10px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
