    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

    Header add Access-Control-Allow-Origin "http://localhost:3000"
    Header add Access-Control-Allow-Credentials "true"
    Header add Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
    Header add Access-Control-Allow-Headers "Content-Type, Authorization"